@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@keyframes glow-button {
    0% { box-shadow: 0 0 5px #a99d14; }
    50% { box-shadow: 0 0 20px #e1ee26; }
    100% { box-shadow: 0 0 5px #fffb00; }
}

body{
    font-family: 'Gilroy-Medium', sans-serif;
}

.nav-bar{
    background-color: #6246e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 15vh;
    width: 80%;
}

    .nav-bar-left-block{
        #background-color: orange;
        display: flex;
        /*Alt: .nav-bar-right-block*/
        align-items: center;
        height: inherit;
    }

        .nav-bar-left-block img{
            border-radius: 100%;
            margin: 0 10px 20px 0;
        }

        .nav-bar-left-block p{
            font-size: 30px;
            color: #ffffff;
            font-weight: bold;
        }

    .nav-bar-right-block{
        #background-color: yellowgreen;
        display: flex;
        height: 100%;

        /*Alt: upper child block*/
        /*align-items: center;*/
        /*gap: 40px;*/
        /*padding: 0 40px;*/
    }

        .nav-bar-right-block a{
            position: relative;
            /*top: 33%;*/
            transform: translate(0%, 33%);
            margin: 0 20px;

            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.5s ease;
        }

            .nav-bar-right-block a:visited{
                color: #ffffff;
            }

            .nav-bar-right-block a:hover{
                color: #cccccc;
            }

            .nav-bar-right-block a:active{
                color: #999999;
            }

.intro{
    background-color: #6246e4;
    display: flex;
    padding: 0 10%;
}

    .intro-content-block{
        #background-color: yellowgreen;
        width: 50%;
        display: flex;
        /**
        * flex-direction -> descrie daca elementele in flex vor fi plasate vertical sau orizontal
         */
        flex-direction: column;
    }

        .intro-content-block h1{
            #background-color: blue;
            width: 55%;
            /**
            * sticky   -> in raport interior cu parinte, sensibil la scrol
            * relative -> in raport exterior strict cu parinte, nesensibil la scrol
            * absolute -> in raport exterior strict cu pagina,  nesensibil la scrol
            * static   -> nu are raport, este pozitionat in dependente de configurarile sale si parinte, nesensibil la scrol
             */
            position: relative;
            /**
            * padding -> deplaseaza fortat elementele repere
            * margin  -> deplaseaza elementul fata elementele repere
            * top     -> deplaseaza elementul fata de pagina, similar cu absolute position
             */
            top: 11%;
            padding-bottom: 3%;

            font-size: 70px;
            letter-spacing: -1px;
            line-height: 1;
            color: #ffffff;
            font-weight: bold;
        }

        .intro-content-block p{
            #background-color: darkblue;
            width: 55%;
            padding-bottom: 5%;

            font-size: 16px;
            color: #ffffff;
        }

        .intro-content-block button{
            background-color: #ffffff;
            width: 37%;
            height: 11%;
            border-radius: 50px;
            border-width: 2px;

            font-size: 22px;
            color: #2d2d2d;
            font-weight: bold;
            padding-left: 5%;
        }

        .intro-content-block button:hover{
            background-color: #ea831b;
            color: #ffffff;
            animation: glow-button 5s ease-in-out;
            border: none;
            cursor: pointer;
        }

        .intro-content-block button:active{
            color: #e3ff65;
        }

    .intro-image-block{
        #background-color: green;
        width: 50%;
        display: block;
    }

        .intro-image-block img{
            max-width: 100%;
            max-height: 100%;
        }

.partners{
    background-color: #f7fafd;
    padding: 1vh 10%;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 15%);
    grid-column-gap: 5%;
}

    .partners img{
        /**
        * width, heigth           -> seteaza dimensiunea maxima a itemului in raport cu parintele
        * max si min              -> seteaza dimensiunea maximala sau miimala pe care o poate avea obiectul in raport cu pagina
        * align-self, align-items -> se folosesc in dependenta de lagatura parinte-copil
        */
        align-self: center;
        min-height: 65%;
        max-height: 80%;
        min-width: 75%;
        max-width: 80%;
    }
